.DS_Store

*.swp
*~

bin/
lib/
out/

#Database
clubhub.db
*.db

# Gradle
build/
.gradle/

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ IDEA
*.iml
.idea

# Crash reports
*.log

# Merge conflicts
*.orig

.pydevproject
