html, body {
	background-color:#ffffff !important;
}

#home {
	margin-top:20%;
	height:100vh;
}

#homeLogo {
	margin-top:10%;
}


#indexMain {
	text-align:center;
}

h1 {
	text-align:center;
	font-size: 5vh !important;
}

h2 {
	text-align:center;
}

h3 {
	text-align:center;
}

p {
	text-align:center;
}

#clubHubLogo {
	width:100%;	
}

#loginFormSection {
	padding-top:20%;
	height:100vh;
	width:100vh;
}

#register {
	padding-top:10%;
	height:100vh;
	width:100vh;
}

#welcome {
	margin-top:5%;
}

#instructionText {
	padding-top:2%;
}

#aboutClubHub {
	margin-top:5%;
}

#searchFormSection {
	margin-top:5%;
	width:100vh;
}

#resultsDisplay {
	margin-top:5%;
	margin-left:20%;
	width:20%;
	float:left;
}

#resultsDisplay a {
	color:black;
}

#robogalsTitle {
	margin-top:5%;
}

#interestsTitle {
	font-size:3vh;
}

#robogalsLinks {
	padding-left:8%;
	margin-top:2%;
	
}

.robogalsAbout {
	margin-top:2%;
}

.aboutText {
	text-align:left;
}

#facebookLogo{
	width:50px;
	padding:1%;
}

#twitterLogo{
	width:50px;
	padding:1%;
}

#webLogo {
	width:50px;
	padding:1%;
}