html, body {
	background-color:#ffffff !important;
}

#home {
	margin-top:20%;
	height:100vh;
}


#indexMain {
	text-align:center;
}

h1 {
	text-align:center;
	color: #49075E;
	font-size: 5vh !important;
}

#clubHubLogo {
	width:50%;	
}

#loginFormSection {
	padding-top:20%;
	height:100vh;
	width:100vh;
}

#register {
	padding-top:20%;
	height:100vh;
	width:100vh;
}